*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1200px;
    margin: 0px auto;
}


.bgimg{
    background-image: url('/img/bgi.png');
    width: 1400px; 
    height: 1000px;
    background-repeat: no-repeat; 
    background-size: cover;
    
}
.nav-bar{
    position: relative;
}
.nav-item{
    padding-top: 40px;
}
.nav-link{
    border: 1px solid  #EB242A;
    height: 40px;
    width: 173px;
    border-radius: 20px;
    position: absolute;
    top: 46px;
    left: 800px;
}
.main-one-icon{
    border: 1px solid #EB242A;
    height: 37px;
    width: 37px;
    border-radius: 50px;
    position: absolute;
    top: 47.3px;
    left: 800px;
}
.main-phone{
    padding-top: 9px;
    padding-left: 8px;
}
.main-call{
    text-decoration: none;
    position: absolute;
    top: 10px;
    left: 60px;
    color: #EB242A;
}
.main-one-tt{
    padding-top: 250px;
}
.location{
    position: relative;
    left: 930px;
}

.main-one-text{
    margin-left: -100px;
    font-size: 90px;
    color: #272D4E;
}
.main-one-text2{
    color: #57606A;
    padding-top: 20px;
    margin-left: -100px;

}
.main-one-box{
    display: flex;
    margin-top: -250px;
}
.main-one-button{
    background-color: #EB242A;
    border-radius: 20px;
    width: 151px;
    height: 41px;
    color: white;
    margin-top: 50px;
    margin-left: -100px;

}
.main-one-commit{
    font-size: 20px;
    color: gray;
    padding-top: 55px;
    padding-left: 15px;

}
.main-one-commiit{
    font-size: 20px;
    color: rgb(7, 143, 255);
    padding-top: 55px;
    padding-left: 10px;
}
.container2 {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.main2-head {
    width: 1200px;
    background-color: #FDF4F4;
    display: flex;
    justify-content: space-around;
    border-radius: 21px;
    
}
.main-cashback {
    color: #001A49;
    font-size: 36px;
    line-height: 52.5px;
    
}
.main-text {
    width: 670px;
    color: #57606A;
    font-size: 24px;
    line-height: 36.5px;
}
.main2-page1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main2-hero-tittle {
    width: 978px;
    height: 152px;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    margin-top: 119px;
    color: #272D4E;
}
.main2-section {
    width: 1469px;
    height: 277px;
    display: flex;
    justify-content: space-around;
    margin-top: 72px;

}
.round {
    width: 99px;
    height: 99px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(94, 91, 91);
    display: flex;
    justify-content: center;
    align-items: center;
}
.num {
    font-size: 60.09px;
    line-height: 102.15px;
    color:  #EB242A;
}
.main2-section-tittle {
    position: relative;
    top: 20px;
    width: 358px;
    font-size: 36px;
    line-height: 70px;
    color: #272D4E;
}
.main2-section-text {
    width: 430px;
    font-size: 20px;
    line-height: 30px;
    color: #57606A;
}
.main2-section-page {
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
text-align: center;
position: relative;
}
.main2-info-tittle {
    width: 778px;
    height: 76px;
    font-size: 50px;
    line-height: 76px;
    color: #001A49;
    margin-top: 149px;
    text-align: center;
}
.main2-info-text {
    width: 560px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    color: #57606A;
    text-align: center;
}
.main2-foot {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}
.main2-foot-box {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 24px;
    width: 720px;
    height: 204px;
    background-color: #EB242A;
    border-radius: 21px;
}
.main2-foot-icon {
    position: relative;
    top: -20px;
    width: 61px;
    height: 57px;
}
.main2-foot-box-page-tittle {
    width: 306px;
    font-size: 24px;
    line-height: 29px;
    color:  #FFFFFF;
}
.roundd {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(94, 91, 91);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDF4F4;
}
.box2 {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 24px;
    width: 720px;
    height: 204px;
    
    border-radius: 21px;
    background-color: #FDF4F4;
}
.main2-foot-box-page-text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 371px;
}
.main2-foot-box-page-text2 {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
    width: 357px;
    
}
.plus1 {
    font-size: 65px;
    line-height: 102.15px;
    color:  #EB242A;
    font-weight: bold;
    
}
.roundd2 {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(94, 91, 91);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001A49;
}
.plus2 {
    font-size: 65px;
    line-height: 102.15px;
    color:  #e9dfe0;
    font-weight: bold;
}
.box2style1 {
    color: #e9dfe0;
    font-size: 16px;
    line-height: 24px;
}
.box2style {
    color:  #001A49;
    font-size: 20px;
    line-height: 30px;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
.container {
    width: 1200px;
    margin: auto;
}
.options-3 {
    width: 1500px;
    height: 200px;
    background-color: #EB242A;
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-left: -100px;
}
.main-3 {
    margin-top: 50px;
}
.opt-3-p {
    padding-top: 55px;
    font-size: 30px;
    color: black;
    font-weight: 600;
}
.about {
    position: absolute;
    top: 30%;
    margin-left: 20px;
}
.opt-3-img {
    margin-left: 215px;
    margin-bottom: 100px;
    box-shadow: 0 0 5 red;
    width: 40px;
    height: 40px;
}
.opt-3-tel {
    margin-top: 80px;
    border: 1px solid grey;
    background-color: #fff;
    border-radius: 30px;
    width: 270px;
    height: 45px;
    position: relative;
}
.main-3-h3 {
    text-align: center;
    color: black;
    margin-top: 90px;
    font-size: 40px;
    font-weight: 700;
}
.main-3-cards-t {
    display: flex;
    justify-content: space-around;
}
.main-3-cards {
    margin-top: 80px;
    
}
.card-3-1-l {
    padding-top: 35px;
}
.card_3-1-r {
    padding-top: 18px;
    margin-left: 20px;
}
.card-3-1 {
    display: flex;
    border: 1px solid #e7e3e3;
    border-radius: 15px;
    background-color: #e7e3e3;
    width: 420px;
    height: 150px;
}
.card-3-1-img {
    color: black;
}
.card_3-1-h4 {
    color: black;
    font-size: 22px;
}
.card_3-1-p {
    margin-top: 10px;
    color: grey;
    font-size: 16px;
}



.card-3-2-l {
    padding-top: 35px;
}
.card_3-2-r {
    padding-top: 18px;
    margin-left: 20px;
}
.card-3-2 {
    display: flex;
}
.card-3-2-img {
    color: black;
}
.card_3-2-h4 {
    color: black;
    font-size: 22px;
}
.card_3-2-p {
    margin-top: 10px;
    color: grey;
    font-size: 16px;
}
.card-3-2 {
    display: flex;
    border: 1px solid #e7e3e3;
    border-radius: 15px;
    background-color: #e7e3e3;
    width: 420px;
    height: 150px;
}

.main-3-cards-b {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.card-3-3-l {
    padding-top: 35px;
}
.card_3-3-r {
    padding-top: 18px;
    margin-left: 20px;
}
.card-3-3 {
    display: flex;
}
.card-3-3-img {
    color: black;
    padding-left: 10px;
}
.card_3-3-h4 {
    color: black;
    font-size: 22px;
}
.card_3-3-p {
    margin-top: 10px;
    color: grey;
    font-size: 16px;
}
.card-3-3 {
    display: flex;
    border: 1px solid #e7e3e3;
    border-radius: 15px;
    background-color: #e7e3e3;
    width: 420px;
    height: 150px;
}
.card-3-4-l {
    padding-top: 35px;
}
.card_3-4-r {
    padding-top: 18px;
    margin-left: 20px;
}
.card-3-4 {
    display: flex;
}
.card-3-4-img {
    color: black;
}
.card_3-4-h4 {
    color: black;
    font-size: 22px;
}
.card_3-4-p {
    margin-top: 10px;
    color: grey;
    font-size: 16px;
}
.card-3-4 {
    display: flex;
    border: 1px solid #e7e3e3;
    border-radius: 15px;
    background-color: #e7e3e3;
    width: 420px;
    height: 150px;
}

.section-4{
    padding: 100px 30px ;
}
.vedio-resource__box{
    width: 900px;
    height: 600px;
    background-color: #E5E5E5;
    border-radius: 10px;
    text-align:start;
    padding: 50px 60px;
}
.vedio-resource__box-title{
    width: 500px;
    font-family: Roboto;
    font-size: 41.18px;
    color:rgba(0, 26, 73, 1);
    text-align:start;
    font-weight: 700;
    padding: 40px 15px 30px;
}
.vedio-resource__box-text{
    width: 500px;
    font-family: Mulish;
    font-size: 18.14px;
    font-weight: 400;
    color: rgba(87, 96, 106, 1);
    padding-left: 18px;
}
.vedio-resource__box-link{
    width: 200px;
    height: 60px;
    background-color: red;
    border-radius: 30px;
    margin: 25px 20px;
    padding: 15px 55px;
}
.vedio-resource__link-iteam{
    text-decoration: none;
    color: #fff;
    font-family: Mulish;
    font-size: 18px;
    font-weight: bold;
}
.point-img{
    width: 200px;
    height: 100px;
    position: relative;
    right: 1020px;
    top: -290px;
    left: 550px;
    z-index: 1;
}
.vedio-resource{
    width: 500px;
    height: 280px;
    background-color: rgba(0, 26, 73, 1);
    border-radius: 15px;
    position: relative;
    top: -550px;
    left: 570px;
    z-index: 100;
    box-shadow: 0px 47.3172721862793px 65.06124877929688px 0px rgba(129, 138, 140, 1);
}
.vedio-resource_icon{
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    top: 75px;
    left: 180px;
}
.fa-play{
    font-size: 45px;
    padding-left: 47px;
    padding-top: 40px;
    color: #001A49;
    
}
.footer-page{
    width: 1400px;
    height: 240px;
    background-color: rgba(39, 45, 78, 1);
    margin-top: -250px;
}
.footer-nav{
    display: flex;
    padding: 80px 150px;

}
.footer-nav__link{
    padding-left: 100px;
    font-family: Mulish;
    font-size: 20px;
}
.navbar-link{
    display: flex;
    padding-top: 10px;
}
.footer-nav__link-iteam{
    padding-left: 20px;
    color: #E5E5E5;
}
.fa-cc-mastercard{
    font-size: 50px;
    padding-left: 180px;
}
.fa-cc-visa{
    font-size: 50px;
}
.footer-line{
    width: 1050px;
    height: 2px;
    background-color: rgba(255, 255, 255, 1);
    margin-left: 150px;
    margin-top: -30px;
    margin-bottom: 25px;
}
.footer-copyright{
    font-family: Roboto;
    font-size: 18px;
    color: #E5E5E5;
    padding-left:500px;
}